# Left side of board
set_io --warn-no-port pin_1 A2
set_io --warn-no-port pin_2 A1
set_io --warn-no-port ws_data B1
set_io --warn-no-port pin_4 C2
set_io --warn-no-port pin_5 C1
set_io --warn-no-port pin_6 D2
set_io --warn-no-port pin_7 D1
set_io --warn-no-port pin_8 E2
set_io --warn-no-port pin_9 E1
set_io --warn-no-port pin_10 G2
set_io --warn-no-port pin_11 H1
set_io --warn-no-port pin_12 J1
set_io --warn-no-port pin_13 H2

# Right side of board
set_io --warn-no-port pin_14 H9
set_io --warn-no-port pin_15 D9
set_io --warn-no-port pin_16 D8
set_io --warn-no-port pin_17 C9
set_io --warn-no-port pin_18 A9
set_io --warn-no-port pin_19 B8
set_io --warn-no-port pin_20 A8
set_io --warn-no-port pin_21 B7
set_io --warn-no-port pin_22 A7
set_io --warn-no-port pin_23 B6
set_io --warn-no-port pin_24 A6

# LED
set_io --warn-no-port user_led B3

# 16MHz clock
set_io clk B2
